<!DOCTYPE html>
<html lang="en">
{% load static %}
<div style="display:none">

</div>
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Callsign</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>

<body style="background-color:#9acce5">
    <h1 class="h1">Callsign Filtered </h1>
    <div class="buttons">
        <span>
            <button class="button"><a href="/home" style="text-decoration: none;">Home</a></button>
            <button class="button"><a href="/home/flights" style="text-decoration: none;">Flights</a></button>
            <button class="button"><a  href="/home/statistic" style="text-decoration: none;">Statistics</a></button>
            <button class="button"><a  href="/home/about" style="text-decoration: none;">About</a></button>
        </span>
        <span>
            {% if request.user.is_authenticated %}
            <button class="button"><a href="http://localhost:8000/accounts/logout?next=/home"
                    style="text-decoration: none;">Logout</a></button>
            {% else %}
            <button class="button"><a href="http://localhost:8000/profile/keycloak/login/?process=login"
                    style="text-decoration: none;">Login</a></button>
            {% endif %}
        </span>
        <input type="hidden" id="latitudeInput" value="{{latitude}}">
        <input type="hidden" id="longitudeInput" value="{{longitude}}">
        <input type="hidden" id="originInput" value="{{origin}}">
        <input type="hidden" id="destinationInput" value="{{destination}}">
        <input type="hidden" id="altitudeInput" value="{{altitude}}">
        <input type="hidden" id="flightsByDestAirport" value="{{returned_flights}}">
        <input type="hidden" id="flightInfo" value="{{flight_info}}">
    </div>
    {% if is_in_db %}
    <div id="map"></div>
    <script>
        var map;
        var service;
        var infowindow;
        
        function initMap() {
            var flights = JSON.parse("{{dataJSON|escapejs}}")
            length = flights.length
            var callsign = ''
            var lat = ''
            var lon = ''
            var alt = ''
            var origin = ''
            var destination = ''
            for (var i = 0; i < length; i++) {
                callsign = flights[i].callsign;
                alt = flights[i].altitude;
                lat = flights[i].latitude;
                lon = flights[i].longitude;
                origin = flights[i].origin;
                destination = flights[i].destination;
                console.log("origin: ", origin)
                console.log("destination: ", destination)
            }

            var options = {
                zoom: 8,
                center: { lat: parseFloat(lat), lng: parseFloat(lon) },
                mapTypeControl: false,
                streetViewControl: false
            }

            var map = new google.maps.Map(document.getElementById("map"), options);
            const aircraftIcon = {

                url: "/static/images/airplane-6-xxl.png",
                scaledSize: new google.maps.Size(42, 42),
            }

            const airportIcon = {

                url: "/static/images/airport.png",
                scaledSize: new google.maps.Size(42, 42),
            }

            var airports = []

            service = new google.maps.places.PlacesService(map);

            for (let i = 0; i < length; i++) {
                new google.maps.Marker({
                    position: { lat: Number(flights[i].latitude), lng: Number(flights[i].longitude) },
                    icon: aircraftIcon,
                    map,
                    title: flights[i].callsign,
                });  //Afisarea avionului
                origin = flights[i].origin;
                destination = flights[i].destination;
                if (!airports.includes(origin)) {
                    airports.push(origin)
                }
                if (!airports.includes(destination)) {
                    airports.push(destination)
                }
            }

            for (let i = 0; i < airports.length; i++) {

                console.log(airports[i])
                airportToBeDisplayed = {
                    query: airports[i],
                    fields: ["name", "geometry"]
                };
                service.findPlaceFromQuery(airportToBeDisplayed, (results, status) => { //search destination airport
                    if (status === google.maps.places.PlacesServiceStatus.OK && results) {
                        console.log("results length " + results.length);

                        for (let j = 0; j < results.length; j++) {
                            console.log(results[j].geometry.location.lat())
                            console.log(results[j].geometry.location.lng())
                            new google.maps.Marker({
                                position: { lat: parseFloat(results[j].geometry.location.lat()), lng: parseFloat(results[j].geometry.location.lng()) },
                                title: airports[i],
                                map,
                                icon: airportIcon
                            });

                        }
                    }
                });
            }
        }
    </script>
    <script
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXY08Mo2gHV7jrkFSaqAaB4bguOYgdOJ4&callback=initMap&libraries=places"
        async defer>
        </script>
    {% else %}
    <h3 class="h1">Callsign invalid sau acesta nu se afla in lista actuala de zboruri urmarite </h3>
    {% endif %}
</body>


</html>