<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Callsign</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'DB_work/static.css' %}">
</head>

<body style="background-color:#9acce5">
    <h1 class="h1">Callsign Filtered </h1>
    <div class="buttons">
        <span>
            <button class="button"><a  href="/home" style="text-decoration: none;">Home</a></button>
            <button class="button"><a  href="/home/flights" style="text-decoration: none;">Flights</a></button>
            <button class="button">Statistics</button>
            <button class="button">About</button>
        </span>
        <span>
            {% if request.user.is_authenticated %}
            <button class="button">Account</button>
            <button class="button"><a  href="http://localhost:8000/accounts/logout?next=/home" style="text-decoration: none;">Logout</a></button>
            {% else %}
            <button class="button"><a  href="http://localhost:8000/profile/keycloak/login/?process=login" style="text-decoration: none;">Login</a></button>
            {% endif %}
        </span>
        <input type="hidden" id="latitudeInput" value="{{latitude}}">
        <input type="hidden" id="longitudeInput" value="{{longitude}}">
        <input type="hidden" id="originInput" value="{{origin}}">
        <input type="hidden" id="destinationInput" value="{{destination}}">
        <input type="hidden" id="altitudeInput" value="{{altitude}}">
        <input type="hidden" id="flightsByDestAirport" value="{{returned_flights}}">
        <input type="hidden" id="flightInfo" value="{{flight_info}}">
    </div>
    {% if is_in_db %}
    <div id="map"></div>
    <script>
        var map;
        var service;
        var infowindow;
        
        function initMap() {
            var data = JSON.parse("{{dataJSON|escapejs}}")
            length = data.length
            var callsign = ''
            var lat = ''
            var lon = ''
            var alt = ''
            var origin = ''
            var destination = ''
            for(var i = 0; i<length; i++){
                callsign = data[i].callsign;
                alt = data[i].altitude;
                lat = data[i].latitude;
                lon = data[i].longitude;
                origin = data[i].origin;
                destination = data[i].destination;
                console.log("origin: ", origin)
                console.log("destination: ", destination)
            }

            
            
            var options = {
                zoom: 8,
                center: {lat: parseFloat(lat), lng: parseFloat(lon)},
                mapTypeControl: false,
                streetViewControl: false
               
            }
            var map = new google.maps.Map(document.getElementById("map"), options);
            const image = {
                url :"https://cdn3.iconfinder.com/data/icons/map-markers-1/512/airplane-512.png",
                scaledSize: new google.maps.Size(42, 42),  
            }
            var cnt = 0;
            service = new google.maps.places.PlacesService(map);
            for (let i = 0; i < length; i++) {
                new google.maps.Marker({
                    position: { lat: Number(data[i].latitude), lng: Number(data[i].longitude) },
                    icon: image,
                    map,
                    title: data[i].callsign,
                });  //Afisarea avionului
                origin = data[i].origin;
                destination = data[i].destination;
                console.log(origin)
                console.log(destination)
                airport_origin = {
                query: data[i].origin,
                fields: ["name", "geometry"]
                };
                airport_destination = {
                query: data[i].destination,
                fields: ["name", "geometry"]
                };

                service.findPlaceFromQuery(airport_origin, (results, status) => { // search origin airport
                if (status === google.maps.places.PlacesServiceStatus.OK && results) {
                    console.log("results length "+results.length);
    
                    for (let j = 0; j < results.length; j++) {
                    console.log(results[j].geometry.location.lat())
                    console.log(results[j].geometry.location.lng())
                    new google.maps.Marker({
                    position: {lat: parseFloat(results[j].geometry.location.lat()), lng: parseFloat(results[j].geometry.location.lng())},
                    title: data[i].origin,
                    map,
                    });
                    
                    }   
                }   
                });
                service.findPlaceFromQuery(airport_destination, (results, status) => { //search destination airport
                if (status === google.maps.places.PlacesServiceStatus.OK && results) {
                    console.log("results length "+results.length);
    
                    for (let j = 0; j < results.length; j++) {
                    console.log(results[j].geometry.location.lat())
                    console.log(results[j].geometry.location.lng())
                    new google.maps.Marker({
                    position: {lat: parseFloat(results[j].geometry.location.lat()), lng: parseFloat(results[j].geometry.location.lng())},
                    title: data[i].destination,
                    map,
                    });
                    
                    }
                }
            });
          
            }
            

            
            
            
            
        }

        
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXY08Mo2gHV7jrkFSaqAaB4bguOYgdOJ4&callback=initMap&libraries=places"
        async defer>
        </script>
    {% else %}
    <h1 class="h1">Callsign invalid sau acesta nu se afla in lista actuala de zboruri urmarite </h1>
    {% endif %}
</body>


</html>