<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Tracking App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>

<body>
    <h1 class="h1">Flight Tracking App</h1>
    <div class="buttons">
        <span>
            <button class="button"><a href="/home" style="text-decoration: none;">Home</a></button>
            <button class="button"><a href="/home/flights" style="text-decoration: none;">Flights</a></button>
            <button class="button"><a  href="/home/statistic" style="text-decoration: none;">Statistics</a></button>
            <button class="button"><a  href="/home/about" style="text-decoration: none;">About</a></button>
        </span>
        <span>
            {% if request.user.is_authenticated %}
            <button class="button"><a  href="http://localhost:8000/accounts/logout?next=/home" style="text-decoration: none;">Logout</a></button>
            {% else %}
            <button class="button"><a  href="http://localhost:8000/accounts/login" style="text-decoration: none;">Login</a></button>
            {% endif %}
        </span>

    </div>
    <div>
        <h2>
           The searched flight is not currently tracked
        </h2>
    </div>

    
</body>


</html>