<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Tracking App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'DB_work/static.css' %}">
</head>

<body>
    <h1 class="h1">Flight Tracking App</h1>
    <div class="buttons">
        <span>
            <button class="button">Home</button>
            <button class="button"><a  href="/home/flights" style="text-decoration: none;">Flights</a></button>
            <button class="button">Statistics</button>
            <button class="button">About</button>
        </span>
        <span>
            {% if request.user.is_authenticated %}
            <button class="button">Account</button>
            <button class="button"><a  href="http://localhost:8000/accounts/logout?next=/home" style="text-decoration: none;">Logout</a></button>
            {% else %}
            <button class="button"><a  href="http://localhost:8000/accounts/login" style="text-decoration: none;">Login</a></button>
            {% endif %}
        </span>

    </div>

    <div id="map"></div>
    <script>
        function initMap() {
            var options = {
                zoom: 7,
                center: { lat: 46, lng: 25 },
                mapTypeControl: false,
                streetViewControl: false
            }

            var map = new google.maps.Map(document.getElementById('map'), options);
        }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBXY08Mo2gHV7jrkFSaqAaB4bguOYgdOJ4&callback=initMap"
        async defer>
        </script>
</body>


</html>