<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flight Tracking App</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
    
</head>

<body>
    <h1 class="h1">Flight Tracking App</h1>
    <div class="buttons">
        <span>
            <button class="button"><a href="/home" style="text-decoration: none;">Home</a></button>
            <button class="button"><a href="/home/flights" style="text-decoration: none;">Flights</a></button>
            <button class="button"><a  href="/home/statistic" style="text-decoration: none;">Statistics</a></button>
            <button class="button"><a  href="/home/about" style="text-decoration: none;">About</a></button>
        </span>
        <span>
            {% if request.user.is_authenticated %}
            <button class="button"><a  href="http://localhost:8000/accounts/logout?next=/home" style="text-decoration: none;">Logout</a></button>
            {% else %}
            <button class="button"><a  href="http://localhost:8000/accounts/login" style="text-decoration: none;">Login</a></button>
            {% endif %}
        </span>

    </div>
    <div style="width: 1000px; height: 400px;display:flex;">
        <div style="flex:1"><canvas id="myChartOrig"></canvas></div>
        <div style="margin-right:50%"><canvas id="myChartDest"></canvas></div>
    </div>
    
    <script>
        var origVar = JSON.parse("{{origJSON|escapejs}}");
        var destVar = JSON.parse("{{destJSON|escapejs}}");
    </script>
    <script src="{% static 'js/chart.js' %}"></script>
</body>



</html>